<h4 class="frame-title" id="episode-{{episode.number}}">Episode {{episode.number}}</h4>
<h2 class="episode-title">{{episode.title}}</h2>
<div class="episode-date"><strong>{{moment-format episode.eventDate 'MMMM DD, YYYY'}}</strong> at {{moment-format episode.eventDate 'h:mm a'}}</div>    

<div class="episode-buttons">
  {{#with (hash 
    date=(moment episode.eventDate)
    end=(moment-add (moment episode.eventDate) episode.duration 'minutes')
  ) as |event|}}
    {{#if (moment-is-after (now) event.end)}}
      {{#link-to 'videos' (query-params episode=episode.slug tag=null category=null page=1) class="button cta-button watch-videos"}}
        Watch
      {{/link-to}}
    {{else if (moment-is-after (now) event.date)}}
      <a href={{episode.bigmarker}} class="button cta-button bigmarker-live">
        <span class="bigmarker-logo">BigMarker</span>
        <span class="sub-text">LIVE on</span>
      </a>
    {{else}}
      <a href={{episode.bigmarker}} class="button cta-button bigmarker-rsvp">
        <span class="sub-text">RSVP on</span>
        <span class="bigmarker-logo">BigMarker</span>      
      </a>
    {{/if}}
  {{/with}}

  {{#if (or media.isMobile media.isTablet)}}
    <button class="button expand-details" {{action (toggle 'is-expanded' this)}}>Show Details</button>
  {{/if}}
</div>