<h1 class="video-page--title">{{model.title}}</h1>
<div class="video-page--description">
    {{{model.excerpt}}}
</div>
<div class="video-page--badges">
    {{#each model.categories as |category|}}
        {{#link-to 'videos' (query-params category=category.slug)}}{{category.name}}{{/link-to}}
    {{/each}}
    {{#each model.tags as |tag|}}
        {{#link-to 'videos' (query-params tag=tag.slug)}}{{tag.name}}{{/link-to}}
    {{/each}}
</div>
{{#gem-topics is-aside=true}}
    {{gem-topics-topic
        image=model.presenter.featured.thumbnail.url
        title=model.presenter.title
        description=model.presenter.excerpt
        twitter=model.presenter.twitter
        linkedin=model.presenter.linkedin
    }}
{{/gem-topics}}