<nav>
  {{link-to '' 'index' classNames="go-home" title="Go home"}}
  {{#if isCollapsible}}
    <button {{action (action (toggle "isCollapsed" this))}} class="toggle-menu">{{title}}</button>
    {{#liquid-if isCollapsed}}
      {{yield}}
    {{/liquid-if}}
  {{else}}
    {{yield}}
  {{/if}}
</nav>