{{#if withHero}}
  {{link-to '' 'index' classNames="go-home" title="Go home"}}
  <span class="hero-title">{{headData.heroTitle}}</span>
  {{#if headData.heroSubTitle}}
    <span class="hero-sub-title">{{headData.heroSubTitle}}</span>
  {{/if}}
  {{#if withButton}}
    <div class="call-to-action">
      <a class="button red-button" href={{headData.buttonUrl}}>{{headData.buttonText}}</a>
    </div>
  {{/if}}
{{else}}
  <nav>
    {{link-to '' 'index' classNames="go-home" title="Go home"}}
    {{#if isCollapsible}}
      <button {{action (action (toggle "isCollapsed" this))}} class="toggle-menu">{{title}}</button>
      {{#liquid-if isCollapsed}}
        {{yield}}
      {{/liquid-if}}
    {{else}}
      {{yield}}
    {{/if}}
  </nav>
{{/if}}