<div class="video-card--header">
  <h3 class="video-card--title">
    {{#link-to 'video' model classNames='red'}}
      {{model.title}}
    {{/link-to}}
  </h3>
</div>
{{#if show-presenter}}
<div class="video-card--body">
  <div class="video-card--presenter">
    <img src={{model.presenter.featured.thumbnail.url}} class="video-card--presenter-avatar" alt="{{model.presenter.title}} avatar">
    <div class="video-card--info">
      <h4 class="video-card--presenter-name">{{model.presenter.title}}</h4>
      {{#if model.presenter.twitter}}
        <a class="video-card--presenter-twitter" 
           href={{twitter-url model.presenter.twitter}}
           title="Link to {{model.presenter.firstName}}'s Twitter"
           target="_blank">
          @{{model.presenter.twitter}}
        </a>
      {{/if}}      
    </div>
  </div>
</div>
{{/if}}
{{#if show-footer}}
<div class="video-card--footer">
    {{#link-to 'video' model class="button small red red-outline"}}Watch Video{{/link-to}}
</div>
{{/if}}