  <main>
    <article>
      {{#box-content
        image="https://embermeetup.com/wp-content/uploads/wifi-image.svg"
      }}
        <h2>Bringing Ember.js to The Research Triangle</h2>
        <p>
          GEMconf is an <strong>#emberjs</strong> conference that revolves around discussions,
          learning, and sharing ideas in the Ember.js community.
        </p>
        <a class="button red-button" href={{model.eventbrite}}>Register Today</a>
      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">What makes GEMconf different?</h2>

        <p>Unlike any other conference you've been to, GEMconf is focused on engaging discussions after each talk to explore concepts and developments in technology and Ember.</p>

        <p>Preceding GEMconf Conference Day is a free 4 Hour Intro to Ember and Rapid Prototyping Workshop.</p>

        <p>Immediately following conference day is an intense {{link-to '2 day workshop' 'gemconf.training'}} for beginners and intermediate Ember developers.</p>

      {{/box-content}}

      {{#box-content}}
      <h2 class="give-whitespace center">2 Day Ember.JS Training</h2>

      <h4>Monday 8/15 & Tuesday 8/16</h4>

      <p>Ember Fast Track & Expansion Pack training with Ember Weekend.</p>
      <p>This training is designed to quickly level up your Ember skills. The fast paced curriculum will focus on building a solid foundation in Ember and dive into advanced Ember techniques.</p>
      <p>Receive video access to Ember training content prior to this 2 day training.</p>
      <p>Attend online or in person at Interactive Intelligence in RTP - Durham, NC </p>
      <p>Full details on training {{link-to 'here' 'gemconf.training'}}.</p>
      <a class="button red-button" href={{model.eventbrite}}>Register Today</a>

      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">The #GEMconf Schedule (8/12 - 8/16)</h2>

        <h4>Friday 8/12, 1pm-5pm</h4>

        <p>Free 4 Hour Intro to Ember and Rapid Prototyping Workshop with Taras Mankovski and Brendan O'Hara at <a href="http://nestraleigh.com">Nest Raleigh</a></p>

        <h4>Saturday 8/13, 9am-5pm</h4>
        <p>GEMconf Conference Day & Talks at <a href="http://bronto.com">Bronto Software</a></p>

        <h4>Monday 8/15, 10am-6pm</h4>
        <p>Training & Workshop with Ember Fast Track with Ember Weekend hosted at <a href="http://inin.com">Interactive Intelligence</a>. ({{link-to 'Course Details' 'gemconf.training'}}.)</p>

        <h4>Tuesday 8/16, 10am-6pm</h4>
        <p>Training & Workshop with Ember Expansion Track with Ember Weekend hosted at <a href="http://inin.com">Interactive Intelligence</a>. ({{link-to 'Course Details' 'gemconf.training'}}.)</p>

      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">Free 4 Hour Ember.JS Workshop</h2>

        <h4>Friday 8/12 at <a href="http://nestraleigh.com">Nest Raleigh</a></h4>

        <p>Intro to Ember and Rapid Prototyping, a 4 hour workshop with Taras Mankovski and Brendan O'Hara</p>

        <strong><p>How the West Web was Won</p></strong>

        <p>We will walk through the current state of the Web and how Frontend frameworks have helped make life better for developers. Then we will introduce you to the basics of Ember.js and do some live TDD development.</p>

        <ul>
          <li>Innovation in Frontend Development</li>
          <li>Introduction to Ember.js</li>
          <li>Introduction to Ember-Data</li>
          <li>Introduction to Ember-CLI</li>
          <li>Live Basic TDD with Taras &amp; Brendan</li>
        </ul>

        <strong><p>How to get ahead in Advertising Frontend Development</p></strong>

        <p>We will explore the Ember.js ecosystem and the strategies you will need to get the most out of it. Then we will introduce you to Firebase and do some live prototyping.</p>

        <ul>
          <li>Strategy in Frontend Development</li>
          <li>Introduction to Ember Add-ons</li>
          <li>Introduction to the Ember Community</li>
          <li>Introduction to the Firebase</li>
          <li>Live Prototyping with Taras &amp; Brendan</li>
        </ul>

        <h2 class="give-whitespace center">Conference Day & Talks</h2>

        <h4>Saturday 8/13 at <a href="http://bronto.com">Bronto Software</a></h4>
        {{#box-content}}
        <h3>Keynote by Todd Jordan, EmberJS Learning Team Core Member</h3>
        <p>Ember has a passionate, welcoming, and very active open source community, which is a big factor in its success.  I’ll discuss my experiences from being brand new to Ember just a year ago to being on the Ember learning sub-team today, and about what I’ve seen work well in welcoming and fostering an active community.</p>
        {{/box-content}}

        {{gem-topics topics=model.presentationTopics}}

        {{#box-content}}

          <h2 class="give-whitespace center">Community Leads</h2>

         {{#gem-topics}}
            {{#each model.communityLeads as |lead|}}
              {{gem-topics-topic
                is-small=true
                image=lead.featured.url
                title=lead.title
                description=lead.excerpt
              }}
            {{/each}}
         {{/gem-topics}}

        {{/box-content}}

      {{/box-content}}

    {{#box-callout
      classNames="img-size-150px"
      image="https://embermeetup.com/wp-content/uploads/2016/04/microphone.svg" position="right" backgroundColor="red"
    }}
      <h2>Lightning talks</h2>
      <p>
        If you're attending in person and would like to give a lightning talk.<br>
        Send us an email <a href="mailto:t@embersherpa.com">t@embersherpa.com</a>
      </p>
    {{/box-callout}}

    {{#box-content class='gem-agenda-content'}}
      <h2 class="center">GEMconf Conference Day Schedule (8/13)</h2>

      {{#gem-agenda as |agenda|}}
        {{agenda.heading 'Time' 'Description'}}

        {{agenda.item '9:00' 'Gathering & Breakfast'}}
        {{agenda.item '9:30' 'Keynote with Taras (@embersherpa) and Tracy (@ladyleet)'}}
        {{agenda.item '9:45' 'Keynote with Todd Jordan (@tddjordan), Learning Core Team member'}}
        {{agenda.item '9:50' 'Game: Win Ember Training'}}

        {{agenda.item '10:00' "What's up in Emberland with EmberWeekend (@emberweekend)"}}
        {{agenda.item '10:10' 'Cardstack CMS with Edward Faulkner (@eaf4)'}}
        {{agenda.item '10:40' 'Community Discussion led by Taras Mankovski'}}

        {{agenda.item '11:00' 'Building an Open Source Commercial Application with Ember.js with Harvey Kandola (@harveykandola)'}}
        {{agenda.item '11:30' 'Community Discussion led by Brendan O'Hara'}}
        {{agenda.item '11:45' 'Template first programming with ember.js with Taras Mankovski (@embersherpa)'}}
        {{agenda.item '11:55' 'Common Ember Component Errors with Justin Ray (@thejustinaray)'}}

        {{agenda.item '12:05' 'Lunch'}}
        {{agenda.item '12:45' 'Ember Game'}}
        {{agenda.item '12:55' 'Ember blueprints for fun and profit with Chris McCuller (@ultimatemonty)'}}

        {{agenda.item '13:25' 'Community Discussion '}}
        {{agenda.item '13:45' 'Frontend Strategy for Start-Ups w/ Ember with Brendan O'Hara (@brendanohara)'}}

        {{agenda.item '14:15' 'Community Discussion'}}
        {{agenda.item '14:35' 'Ember Game'}}
        {{agenda.item '14:45' 'Server logging with Ember: a window into your clients with Xander Dumaine (@xanderdumaine)'}}
        {{agenda.item '14:55' 'Reflections on Accessibility in the Workplace: from a Deaf Engineer's Perspective with James Tranovich (@cantsin_)'}}

        {{agenda.item '15:25' 'Community Discussion'}}
        {{agenda.item '15:45' 'How to Contribute to the Open Source Community'}}

        {{agenda.item '16:15' 'Community Discussion led by Julie David'}}
        {{agenda.item '16:35' 'Closing Keynote'}}

      {{/gem-agenda}}
    {{/box-content}}

    </article>

  </main>

{{#box-callout class="gemconf-sponsors"}}
  <h2>Sponsors</h2>
  <p>Big 🙇 to our sponsors for helping us bring this event to you.</p>

  {{gem-sponsor-links sponsors=model.sponsors}}

  <p>Want your logo to be seen by some ridiculously awesome developers?<br>
  We would be very grateful for your support.</p>

  <a href="mailto:t@embersherpa.com?Subject=Sponsor%20GEMconf" class="button red-button">Sponsor</a>

{{/box-callout}}

{{#box-content}}
<h2>Code of Conduct</h2>
<p>Please read our {{link-to 'Code of Conduct' 'gemconf.code-of-conduct'}} before purchasing a ticket.</p>
{{/box-content}}
