  <main>
    <article class="with-aside">
      {{#box-content
        image="https://embermeetup.com/wp-content/uploads/wifi-image.svg"
      }}
        <h2>Broadcasting Live from Triangle</h2>
        <p>
          Join us in beautiful Triangle for a free,
          one–day Ember.js conference packed with informative tech talks,
          friendly competitions and non-stop fun.
        </p>
      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace">Err, so... fun, yes. And what am I going to learn?</h2>

        {{gem-topics topics=model.presentationTopics}}

      {{/box-content}}

    </article>
    <aside>
      {{#box-content}}
        <h2>Get your free ticket</h2>
        {{#gem-cards as |cards|}}
          {{#cards.card 'Participate in person'}}
            <p>Participate in games and the contributor workshop.</p>
            <a class="button red-button" href={{model.eventbrite}}>RSVP on Eventbrite</a>
          {{/cards.card}}

          {{#cards.card 'Participate online'}}
            <p>Enjoy talks and discussion from the comfort of your home.</p>
            <a class="button red-button" href={{model.bigmarker}}>RSVP on BigMarker</a>
          {{/cards.card}}
        {{/gem-cards}}
      {{/box-content}}
      {{#box-content}}
        <h2>Training</h2>
        {{#gem-cards as |cards|}}
          {{#cards.card 'Fast Track'}}
            <p>This training is designed to quickly level up your Ember skills.</p>
            <p>Monday August 15, 2016, 9am-6pm EST</p>
            {{link-to 'Remote' 'gemconf.training' (query-params location='remote') classNames="button red-button"}}
            {{link-to 'In Durham' 'gemconf.training' (query-params location='onsite') classNames="button red-button"}}
          {{/cards.card}}

          {{#cards.card 'Expansion'}}
            <p>Strengthen your Ember.js knowledge and level up your skills using the framework.</p>
            <p>Tuesday August 16, 2016, 9am-6pm EST</p>
            {{link-to 'Remote' 'gemconf.training' (query-params location='remote') classNames="button red-button"}}
          {{/cards.card}}
        {{/gem-cards}}
      {{/box-content}}
    </aside>
  </main>

{{#box-callout
  image="https://embermeetup.com/wp-content/uploads/2016/04/microphone.svg" position="right" backgroundColor="red"
}}
  <h2>Lightning talks</h2>
  <p>
    If you're attending in person and would like to give a lightning talk.<br>
    Send us an email <a href="mailto:t@embersherpa.com">t@embersherpa.com</a>
  </p>
{{/box-callout}}

{{#box-content class='gem-agenda-content'}}
  <h2>Schedule</h2>
    
  {{#gem-agenda as |agenda|}}
    {{agenda.heading 'Triangle' 'Description'}}
    {{agenda.item '9:00' 'Gathering'}}
    {{agenda.item '9:30' 'Keynote'}}
    {{agenda.item '10:00' "What's up in Emberland?"}}
    {{agenda.item '10:15' 'Building excellent engineering culture by Juan Pablo Buritica'}}
    {{agenda.item '11:00' 'Ember Game'}}    
    {{agenda.item '11:10' 'CSS is Impossible by Chris Thoburn'}}    
    {{agenda.item '12:00' 'Lunch'}}
    {{agenda.item '13:00' 'Lightning Talks'}}
    {{agenda.item '13:20' 'Living Immutably by Charles Lowell'}}
    {{agenda.item '14:05' 'Ember Jeopardy'}}
    {{agenda.item '14:20' 'Building an ambitious open source application by Joel Worrall'}}
    {{agenda.item '15:05' 'Building Real-Time Applications with Websockets by Ben Limmer'}}
    {{agenda.item '15:50' 'Closing Keynote'}}
    {{agenda.item '16:00' 'Snack Break'}}
    {{agenda.item '16:15' 'Contributor Workshop'}}
    {{agenda.item '6:30' 'Long break until next GEMconf'}}
  {{/gem-agenda}}
{{/box-content}}

{{#box-callout backgroundColor="sky" class="gemconf-sponsors"}}
  <h2>Sponsors</h2>
  <p>Big 🙇 to our sponsors for helping us bring this event to you.</p>

  {{gem-sponsor-links sponsors=model.sponsors}}

  <p>Want your logo to be seen by some ridiculously awesome developers?<br>
  We would be very grateful for your support.</p>

  {{link-to 'Sponsor Us!' 'pages' 'sponsor' classNames='button red-button'}}

{{/box-callout}}
