  <main>
    <article>
      {{#box-content
        image="https://embermeetup.com/wp-content/uploads/wifi-image.svg"
      }}
        <h2>Bringing Ember.js to The Research Triangle</h2>
        <p>
          GEMconf is an <strong>#emberjs</strong> conference that revolves around discussions,
          learning, and sharing ideas in the Ember.js community.
        </p>
        <a class="button red-button" href={{model.eventbrite}}>Register Today</a>
      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">What makes GEMconf different?</h2>

        <p>Unlike any other conference you've been to, GEMconf is focused on engaging discussions after each talk to explore concepts and developments in technology and Ember.</p>

        <p>Preceding GEMconf Conference Day is a free 4 Hour Intro to Ember and Rapid Prototyping Workshop.</p>

        <p>Immediately following conference day is an intense {{link-to '2 day workshop' 'gemconf.training'}} for beginners and intermediate Ember developers.</p>

      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">The #GEMconf Schedule (8/12 - 8/16)</h2>

        <h4>Friday 8/12, 1pm-5pm</h4>

        <p>Free 4 Hour Intro to Ember and Rapid Prototyping Workshop with Taras Mankovski and Brendan O'Hara.</p>

        <h4>Saturday 8/13, 9am-5pm</h4>
        <p>GEMconf Conference Day & Talks at Bronto Software</p>

        <h4>Monday 8/15, 10am-6pm</h4>
        <p>Training & Workshop with Ember Fast Track with Ember Weekend ({{link-to 'Course Details' 'gemconf.training'}}.)</p>

        <h4>Tuesday 8/16, 10am-6pm</h4>
        <p>Training & Workshop with Ember Expansion Track with Ember Weekend ({{link-to 'Course Details' 'gemconf.training'}}.)</p>

      {{/box-content}}

      {{#box-content}}

        <h2 class="give-whitespace center">Free 4 Hour Ember.JS Workshop</h2>

        <h4>Friday 8/12</h4>

        <p>Intro to Ember and Rapid Prototyping, a 4 hour workshop with Taras Mankovski and Brendan O'Hara</p>

        <h2 class="give-whitespace center">Conference Day & Talks</h2>

        <h4>Saturday 8/13</h4>

        {{gem-topics topics=model.presentationTopics}}

        <p>Lightning Talks</p>
        <p>Community led discussions</p>

        <h2 class="give-whitespace center">2 Day Ember.JS Training</h2>

        <h4>Monday 8/15 & Tuesday 8/16</h4>

        <p>Ember Fast Track & Expansion Pack training with Ember Weekend.</p>
        <p>This training is designed to quickly level up your Ember skills. The fast paced curriculum will focus on building a solid foundation in Ember and dive into advanced Ember techniques.</p>
        <p>Receive video access to Ember training content prior to this 2 day training.</p>
        <p>Full details on training {{link-to 'here' 'gemconf.training'}}.</p>
        <a class="button red-button" href={{model.eventbrite}}>Register Today</a>

      {{/box-content}}

      {{#box-content}}

        {{!-- <h2 class="give-whitespace center">Community Leads</h2>

        {{#gem-topics}}
          {{gem-topics-topic
            title='Hi Tracy'
            description=" you so awesome!"
            by-line='Yep yep'
          }}
          {{gem-topics-topic
            title='Hi Tracy'
            description=" you so awesome!"
            by-line='Yep yep'
          }}
          {{gem-topics-topic
            title='Hi Tracy'
            description=" you so awesome!"
            by-line='Yep yep'
          }}
        {{/gem-topics}} --}}


      {{/box-content}}

    {{#box-callout
      classNames="img-size-150px"
      image="https://embermeetup.com/wp-content/uploads/2016/04/microphone.svg" position="right" backgroundColor="red"
    }}
      <h2>Lightning talks</h2>
      <p>
        If you're attending in person and would like to give a lightning talk.<br>
        Send us an email <a href="mailto:t@embersherpa.com">t@embersherpa.com</a>
      </p>
    {{/box-callout}}

    {{#box-content class='gem-agenda-content'}}
      <h2 class="center">GEMconf Conference Day Schedule (8/13)</h2>

      {{#gem-agenda as |agenda|}}
        {{agenda.heading 'Time' 'Description'}}

        {{agenda.item '9:00' 'Gathering & Breakfast'}}
        {{agenda.item '9:30' 'Keynote with Taras (@embersherpa) and Tracy (@ladyleet)'}}
        {{agenda.item '10:00' 'Keynote with Todd Jordan (@tddjordan), Learning Core Team member'}}

        {{agenda.item '10:10' "What's up in Emberland with EmberWeekend (@emberweekend)"}}

        {{agenda.item '10:20' 'Building an Open Source Commercial Application with Ember.js with Harvey Kandola (@harveykandola)'}}
        {{agenda.item '10:50' 'Community Discussion'}}

        {{agenda.item '11:10' 'Cardstack CMS with Edward Faulkner (@eaf4)'}}
        {{agenda.item '11:40' 'Community Discussion'}}

        {{agenda.item '12:00' 'Lunch'}}

        {{agenda.item '13:00' 'Ember Jeopardy'}}
        {{agenda.item '13:15' 'Lightning Talks'}}

        {{agenda.item '13:30' "Reflections on Accessibility in the Workplace: from a Deaf Engineer's Perspective with James Tranovich (@cantsin_)"}}
        {{agenda.item '14:00' 'Community Discussion'}}

        {{agenda.item '14:25' 'Ember Game'}}

        {{agenda.item '14:35' 'Landing your first PRs in the Ember Open Source Community with Tracy Lee (@ladyleet)'}}
        {{agenda.item '15:05' 'Community Discussion'}}

        {{agenda.item '15:30' 'Ember Jeopardy'}}

        {{agenda.item '15:45' 'Rapid prototyping with Ember.js by Brendan OHara'}}
        {{agenda.item '16:15' 'Community Discussion'}}

        {{agenda.item '16:40' 'Closing Keynote'}}

      {{/gem-agenda}}
    {{/box-content}}

    </article>

  </main>

{{#box-callout class="gemconf-sponsors"}}
  <h2>Sponsors</h2>
  <p>Big 🙇 to our sponsors for helping us bring this event to you.</p>

  {{gem-sponsor-links sponsors=model.sponsors}}

  <p>Want your logo to be seen by some ridiculously awesome developers?<br>
  We would be very grateful for your support.</p>

  <a href="mailto:t@embersherpa.com?Subject=Sponsor%20GEMconf" class="button red-button">Sponsor</a>

{{/box-callout}}

{{#box-content}}
<h2>Code of Conduct</h2>
<p>Please read our {{link-to 'Code of Conduct' 'gemconf.code-of-conduct'}} before purchasing a ticket.</p>
{{/box-content}}
