<main class="training">

  {{bread-crumbs tagName="ol" linkable=true}}

  <article>

    {{#box-content
      classNames="intro"
      image="https://embermeetup.com/wp-content/uploads/training.svg"
    }}
      <h2>Live training at GEMconf</h2>
      <h3>We are offering a 2 day training course as part of GEMconf Triangle, covering both fundamental & advanced topics.</h3>
      <p>        
        Whether you're looking for a solid understanding of all the fundamentals needed to be an effective 
        Ember developer, or looking to dive deeper into the issues that face developers of larger, more 
        complex Ember apps, we've got you covered. This is an intensive learning experience, aiming to 
        accelerate your career by ensuring a complete awareness of the skills and experience required to build ambitious web applications.
      </p>
      <p>
        We believe learning happens best when supported by connections to others in the community. 
        We'd love to have you join us this August in the Triangle.
      </p>
      <p>
          <a class="button red-button" href={{model.eventbrite}}>Register Today</a>
      </p>
    {{/box-content}}

    {{#box-content}}
      <h2 class="give-whitespace center">Your Instructors</h2>
      <div class="columns instructors">
        <div class="col-1 instructor">
          <img src="https://embermeetup.com/wp-content/uploads/Ea52Geux.png">
          <h3>Chase McCarthy</h3>
          <p class="subtext">Ember Weekend Co-Host & Senior Developer, Hashrocket</p>
        </div>
        <div class="col-2 instructor">
          <img src="https://embermeetup.com/wp-content/uploads/jonathan-jackson-a8c641ae1a7950aead6c0d97448d5b58.png">
          <h3>Jonathan Jackson</h3>
          <p class="subtext">Ember Weekend Co-Host & Senior Developer, Hashrocket</p>
        </div>
      </div>
    {{/box-content}}

    {{#box-content}}
      <h2 class="give-whitespace center">Schedule</h2>
      <div id="day-1">
          <h3>Day 1 - Ember Fundamentals</h3>
          <p class="red">Monday Aug 15, 2016, 10am-6pm ET</p>
          <p>
            <a class="button red-button" href={{model.eventbrite}}>Participate remotely - $599</a>
            <a class="button red-button" href={{model.eventbrite}}>Participate in the Research Triangle - $1099</a>
          </p>
          <p>
            This day is designed to give the learner an in-depth understanding of all the 
            fundamentals needed to build a complex Ember app. It includes access to pre-recorded 
            videos and a live, hands-on and project-based workshop.
          </p>
          <h4>Who is this for?</h4>
          <p>Whether you're:</p>
            <ul>
              <li>a complete beginner to Ember</li>
              <li>have been working with it for 1–3 years</li>
              <li>have used another Javascript framework</li>
            </ul>
            <p>
              As long as you are proficient in basic Javascript, are familiar with using Git this course will teach you the fundamentals needed to be an effective Ember developer.
            </p>
          <h4>What will the experience be like?</h4>
          <h5>Pre-course Videos</h5>
          <p>
            Two weeks prior to the workshop, you’ll have access to our pre-course videos. As you view them, as fast or as slow as YOU want, write down your questions as they pop into your head. As your subconscious mind continues to work in the shower, or while washing the dishes, even more questions may occur to you. We will collect all of these questions before the workshop to allow our instructors to dive right into the details that are relevant to the group.
          </p>
          <p>
            Videos will cover these topics:</p>
            <ul>
              <li>Philosophy of Ember</li>
              <li>ES6 Deep Dive</li>
              <li>Router and Routes</li>
              <li>Promises & Async JS</li>
              <li>Ember-cli</li>
            </ul>
            <p>
              Our videos are tightly edited and concise, aiming to give you the knowledge you need, in the minimum amount of time. We use both live video and screen capture of Chase and Jon explaining the context and concepts you’ll need to be comfortable with in class. Through slides, diagrams and demos, you’ll have the background needed before jumping into our workshop project with the rest of the group.
            </p>
            <h5>In-person and Online Workshop</h5>
              <p>
                During this workshop we will be spending nearly ALL of our time building a project. After a chance for questions about the video topics to be answered and clarified and the knowledge level of the group is normalized as much as possible, learners will be guided through the hands-on process of building a Gmail type webmail app.
              </p>
              <p>
                Developing this app will show students how to:
              </p>
              <ul>
                <li>build complex layouts, using nested UI using components and templates</li>
                <li>practice creating routes and understand when to use sibling routes, or handle complex routing scenarios</li>
                <li>create list or collection views with items styled based on the data model and also user actions</li>
                <li>best way to display modal windows, drop down menus and other complicated UI patterns</li>
                <li>understand the Ember object model and where data is stored, what happens when it changes and how to respond to user inputs</li>
                <li>use Mirage, a backend API mock up tool</li>
                <li>create a service to handle user/session authentication</li>
                <li>evaluate considerations for deployment</li>
              </ul>
        </div>

        <div id="day-2">
          <h3>Day 2 - Ember Advanced</h3>
          <p class="red">Tuesday Aug 16, 2016, 10am-6pm ET</p>
          <p>
            <a class="button red-button" href={{model.eventbrite}}>Participate remotely - $599</a>
            <a class="button red-button" href={{model.eventbrite}}>Participate in the Research Triangle - $1099</a>
          </p>
          <p>
            Attendance of Day 1 is not required, but we recommended you ensure you have a good understanding of how to do all of the things we cover in the Fundamentals section.
          </p>
          <p>
            In the Advanced workshop, we'll build on the foundation of the app we created in Day 1 and dive deeper into topics that arise as your app gets larger and more feature complete, such as adding test coverage, interacting with various APIs and persisting that data to various backends, how to deal with realtime scenarios, and best practices to keep your code organized, clean and maintainable as your project grows. 
          </p>
          <h4>What You'll Learn:</h4>
            <dl>
              <dt>Advanced Testing</dt>
              <dd>
                <ul>
                  <li>Acceptance tests</li>
                  <li>Page Objects</li>
                  <li>Integration tests (components)</li>
                  <li>Unit tests (helpers, routes, services)</li>
                </ul>
              </dd>
              <dt>APIs and EmberCLI Mirage</dt>
              <dd>
                <ul>
                  <li>JSONAPI specification</li>
                  <li>Mocking an API</li>
                  <li>Live JSONAPI</li>
                </ul>
              </dd>
              <dt>Ember Data</dt>
              <dd>
                <ul>
                  <li>Creating a model</li>
                  <li>Persisting data</li>
                </ul>
              </dd>
              <dt>Sockets</dt>
              <dd>Learn how to integrate real-time data into Ember Data with sockets.</dd>
              <dt>Deployment</dt>
              <dd>Deploy your Ember apps easily and confidently with <a href="https://ember-cli.com/ember-cli-deploy/">ember-cli-deploy</a>.</dd>          
            </dl>
            <p>
              Remote learners will see the instructor’s screen and have a crisp audio feed of what’s being said. There will be a Slack room for group chat and a system for 2 way voice communication so we can hear your questions too!
            </p>
            <p>
              Along the way, you’ll hear stories from Chase and Jonathan about working on the front lines of a busy consulting shop and get to ask them about issues specific to your projects! 
            </p>
        </div>

    {{/box-content}}

    {{#box-content}}
      <h2>Buy Tickets</h2>

      {{#gem-cards classNames="two-cards" as |cards|}}

        {{#cards.card 'Learn Remotely'}}
          <a class="button red-button" href={{model.eventbrite}}>$599</a>
        {{/cards.card}}

        {{#cards.card 'Learn in the Research Triangle'}}
          <a class="button red-button" href={{model.eventbrite}}>$1099</a>
        {{/cards.card}}
      {{/gem-cards}}

    {{/box-content}}

  </article>
</main>
