{{#nav-header title="Menu"}}
  {{link-to 'The Ember Show' 'show'}}
  {{link-to 'Videos' 'videos' (query-params page=1 category=null tag=null episode=null)}}
  {{link-to 'Workshops' 'rock-and-roll-ember'}}
{{/nav-header}}

<div class={{concat (slugify currentRouteName) '-' 'page'}}>
  {{liquid-outlet}}
</div>

{{#gem-footer}}
  <ul>
    <li><h3>For you</h3></li>
    <li>{{link-to 'The Ember Show' 'show'}}</li>
    <li>{{link-to 'Videos' 'videos' (query-params page=1 episode=null tag=null category=null)}}</li>
  </ul>
  <ul>
    <li><h3>Contribute</h3></li>
    <li>{{link-to 'Give a talk' 'pages' 'speak'}}</li>
    <li>{{link-to 'Become a sponsor' 'pages' 'sponsorship'}}</li>
    <li><a href="https://github.com/EmberMeetup/website/issues/new">Suggestions</a></li>
  </ul>
  <ul>
    <li><h3>Follow Us</h3></li>
    <li><a href="https://twitter.com/embermeetup">Twitter</a></li>
    <li><a href="https://vimeo.com/globalembermeetup">Vimeo</a></li>
  </ul>
{{/gem-footer}}
