{{scroll-to position=0}}

<section class="max-width auto-margin rock-and-roll-ember">

  {{#box-content classNames="center margin-left-right-30px margin-bottom-80px"}}
    <h2 class="heading">
      Learn to implement authentication with the author of <i>Rock and Roll with Ember</i> and EmberSherpa.
    </h2>

    <p class="margin-bottom-80px">
      This complete introduction to authentication will tell you everything you need to know to implement
      <strong>Username / Password</strong> and <strong>oAuth 2.0</strong> authentication scenarios.
      This training will consist of pre-recorded videos, a live hands-on workshop and post workshop implementation support.
    </p>

  {{/box-content}}


  <div class="rocker-gabby-callout">
    <h2>
      Authentication is not simple. This course will have you and your Ember app rocking some serious login chops in no time.
    </h2>
  </div>

  {{#box-content
    classNames="margin-left-right-30px"
    image="https://embermeetup.com/wp-content/uploads/RARE-Player.png"
  }}
  <h2>Authentication Fundamentals Videos <span class="release-date">August 11th</span></h2>
  <p>
    You will receive access to pre-recorded videos 7 days before the workshop. <br>
    These videos will cover the following topics:
  </p>
  <ul class="video-list">
    <li>Introduction to authentication and authorization</li>
    <li>Introduction to OAuth 2.0</li>
    <li>Introduction to ember-simple-auth</li>
    <li>Introduction to Torii</li>
  </ul>
  {{/box-content}}

  {{#box-content classNames="margin-bottom-80px margin-left-right-30px"}}
    <p>
      As you view them, you'll' write down your questions as they occur, or later on as your subconscious mind continues to work. We'll collect all the questions beforehand to allow our instructor to dive right into the details that are most relevant to the group.
    </p>
  {{/box-content}}

  <div class="key-message">
    <h2>
      Our videos are tightly edited and offer a deep dive into all aspects of authentication.
    </h2>
  </div>

  {{#box-content
    classNames="margin-left-right-30px margin-bottom-80px"
    image="https://embermeetup.com/wp-content/uploads/RARE-Monitor.png"
  }}
    <h2 class="clearfix">Interactive Workshop <span class="release-date">August 18th<br>12pm - 4pm EST</span></h2>
    <p>
      In the online workshop we'll spend ALL of our time working on a project,
      adding authentication to an existing application. The goal of
      is for you to gain first hand experience implementing authentication.
      You will see real code and work on real problems.
    </p>
  {{/box-content}}

  {{#box-content
    classNames="margin-bottom-80px rare-lightning-background"
  }}
    <p>
      Our workshop is open to a <span class="red">LIMITED</span> number of seats in order to <br>
      ensure learners can get their questions answered by our instructors & mentors. <br>
    </p>
  {{/box-content}}

  {{#box-content
    classNames="margin-left-right-30px margin-bottom-80px"
    image="https://embermeetup.com/wp-content/uploads/RARE-notebook.png"
  }}
    <h2 class="clearfix">Implementation Support <span class="release-date">August 18 - 25th</span></h2>
    <p>
      Putting what you learn to practice is the real test. After the workshop, you'll continue to have access
      to our Slack channel and a remote pair programming session. Ask questions, or clarify details
      as you apply what you learned to your application. During your pairing session, you can get a code review
      or get help with a complex integration.
    </p>
  {{/box-content}}

  <hr class="red-line margin-bottom-80px">

  {{#box-content
    classNames="margin-left-right-30px margin-bottom-30px"
  }}
    <h2 class="center margin-bottom-30px">Your Instructors</h2>

    <div class="two-columns">
      <div class="column margin-bottom-30px">
        <img src="https://embermeetup.com/wp-content/uploads/RARE-Balint.png" alt="Balint Erdi's portrait"/>
        <h3>Balint Erdi</h3>
        <p>Balint helped thousands of people become Ember developers with the <i>Rock and Roll with Ember</i> book.</p>
      </div>
      <div class="column margin-bottom-30px">
        <img src="https://embermeetup.com/wp-content/uploads/RARE-EmberSherpa.png" alt="Taras' portrait"/>
        <h3>Taras Mankovski<br> (aka EmberSherpa)</h3>
        <p>Taras spent the last 3 years helping people learn Ember.</p>
      </div>
    </div>
  {{/box-content}}

  <div class="schedule">
    <h2>Schedule</h2>

    <dl class="date-list">
      <div class="row">
        <dt><i class="fa fa-calendar-o" aria-hidden="true"></i> August 11th</dt>
        <dd>Access to Authentication Fundamentals Videos</dd>
      </div>
      <div class="row">
        <dt><i class="fa fa-calendar-o" aria-hidden="true"></i> August 18th</dt>
        <dd>12pm - 4pm EST - Online Workshop</dd>
      </div>
      <div class="row">
        <dt><i class="fa fa-calendar-o" aria-hidden="true"></i> August 18th - 25th</dt>
        <dd>Implementation Support</dd>
      </div>
    </dl>
  </div>

  {{#box-content}}

    <h2 class="center margin-bottom-80px">Reserve your stop now!</h2>

    <div class="packages-table margin-bottom-80px">
      <div class="packages-table--plan secondary">
        <h3 class="header">Training<br> <span class="sub">Videos &amp; Workshop</span></h3>
        <ul class="content">
          <li class="item videos-icon"><u>Authentication Fundamentals Videos</u></li>
          <li class="item workshop-icon">Interactive Workshop</li>
        </ul>
        <div class="footer">
          <button class="button call-to-action" {{action (toggle 'showTickets' this)}}>$249.99</button>
        </div>
      </div>

      <div class="packages-table--plan primary">
        <h3 class="header">Training &amp; Support <span class="sub">Complete Package</span></h3>
        <ul class="content">
          <li class="item videos-icon"><u>Authentication Fundamentals Videos</u></li>
          <li class="item workshop-icon"><u>Interactive Workshop</u></li>
          <li class="item slack-icon"><u>Support Slack Channel (1 week)</u></li>
          <li class="item screenhero-icon"><u>Pair Programming Session (45 min)</u></li>
          <li class="item trees-icon">Evergreen Videos (1 year)</li>
        </ul>
        <div class="footer">
          <button class="button call-to-action" {{action (toggle 'showTickets' this)}}>Buy Together $349.99</button>
        </div>
      </div>

      <div class="packages-table--plan secondary">
        <h3 class="header">Implementation Support <span class="sub">Chat &amp; Pairing</span></h3>
        <ul class="content">
          <li class="item slack-icon"><u>Support Slack Channel (1 week)</u></li>
          <li class="item screenhero-icon"><u>Pair Programming Session (45 min)</u></li>
          <li class="item trees-icon">Evergreen Videos (1 year)</li>
        </ul>
        <div class="footer">
          <button class="button call-to-action" {{action (toggle 'showTickets' this)}}>$249.99</button>
        </div>
      </div>
    </div>

    {{#with 'August 16, 2016' as |earlyBird|}}
      {{#if (moment-is-before (now) earlyBird)}}
        <div class="early-bird margin-bottom-80px">
          <div class="main">
            <button class="button call-to-action" {{action (toggle "showTickets" this)}}>Early Bird $299.99</button>
          </div>
          <div class="right">
            - {{moment-from-now earlyBird hideSuffix=true}} left
          </div>
        </div>
      {{/if}}
    {{/with}}

  {{/box-content}}

  <hr class="red-line margin-bottom-80px">

  {{#box-content
    classNames="margin-left-right-30px margin-bottom-80px"
    image="https://embermeetup.com/wp-content/uploads/RARE-trees.png"
  }}
    <h2>Evergreen Videos</h2>
    <p>
      We will update and revise our Authentication Fundamentals Videos as Ember's authentication story evolves.
      Evergreen Videos will give you access to latest versions of the videos as they becomes available.
      It’s a great way to keep up to date on the developments of Ember’s authentication story.
    </p>
  {{/box-content}}

  {{#box-content
    classNames="margin-bottom-80px rare-lightning-background content-max-width-600px"
  }}
    <h2>Prerequisites</h2>
    <p>
      This course will build on your understanding of Ember.js and common Ember.js development toolset.
      You must be comfortable with content that’s covered in Ember Guides and have working familiarity with EmberCLI and Git.
    </p>
  {{/box-content}}

</section>

{{#if showTickets}}
  {{#modal-dialog
    container-class="pricing-modal"
    close=(action (toggle 'showTickets' this))
    targetAttachment="center"
    translucentOverlay=true
  }}
    <iframe  src="//eventbrite.com/tickets-external?eid=26391705301&ref=etckt"
             frameborder="0" height="400" width="100%" vspace="0"
             hspace="0" marginheight="5" marginwidth="5" scrolling="auto"
             allowtransparency="true">
    </iframe>
  {{/modal-dialog}}
{{/if}}
