<section class="videos-page">
  
  {{#gem-search-tools as |tools|}}    
    {{#tools.filter 
      models=model.episodes
      label='Episodes'
      as |episode|
    }}
      {{#link-to (query-params episode=episode.slug category=null tag=null)}}<span class="episode-code">{{episode.slug}}</span> - {{episode.title}}{{/link-to}}
    {{/tools.filter}}
    {{#tools.filter 
      models=model.categories
      label='Categories'
      as |category|
    }}
      {{#link-to (query-params category=category.slug episode=null tag=null)}}{{category.name}}{{/link-to}}
    {{/tools.filter}}
    {{#tools.filter 
      models=model.tags
      label='Tags'
      as |tag|
    }}
      {{#link-to (query-params tag=tag.slug category=null episode=null)}}{{tag.name}}{{/link-to}}
    {{/tools.filter}}
  {{/gem-search-tools}}
  
  {{outlet}}
</section>