{{head-data
  title=model.title
}}
{{scroll-to position=0}}

<article class="video-page">
  <main>
    {{responsive-vimeo-video video=model.vimeo}}
    {{#if (or media.isMobile media.isTablet)}}
      {{gem-video-details model=model}}
    {{/if}}
    {{disqus-comments identifier=model.title}}
  </main>
  <aside>
    {{#if (or media.isJumbo media.isDesktop)}}
      {{gem-video-details model=model}}
    {{/if}}
    {{#if model.related}}
      <div class="video-page--related">
        <h3 class="video-page--section-title">Related Videos</h3>
        {{#each model.related as |video|}}
          {{video-card model=video size='medium'}}
        {{/each}}
      </div>
    {{/if}}
  </aside>
  <section>
    
  </section>
</article>